torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
torch-geometric==2.6.1
dgl==1.1.0+cu118
dgllife==0.3.2
rdkit==2024.3.6
biopython==1.84
pybiomed==1.0
transformers==4.46.0
esm==3.1.1
tokenizers==0.20.3
einops==0.8.0
causal-conv1d==1.5.0.post8
mamba-ssm==2.2.4
numpy==1.24.3
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.14.1
h5py==3.16.0
pyyaml==6.0.2
tqdm==4.66.5
matplotlib==3.10.8
seaborn==0.13.2
